<a href="https://colab.research.google.com/github/carlos-alves-one/-SSDM-Coursework-2/blob/main/Regression_CW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Goldsmiths University of London
### MSc. Data Science and Artificial Intelligence
### Module: Statistics and Statistical Data Mining
### Author: Carlos Manuel De Oliveira Alves
### Student: cdeol003
### Coursework No.2

### Load the data

> Run the code in Python 3

In [1]:
# Imports the 'drive' module from 'google.colab' and mounts the Google Drive to
# the '/content/drive' directory in the Colab environment.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

> Run the code in R

In [1]:
# Load necessary libraries for this project
library(tidyverse)    # for data manipulation and visualization

install.packages("caret")
library(caret)        # for machine learning

library(rpart)        # for decision trees

install.packages("randomForest")
library(randomForest) # for random forest algorithm

install.packages("gbm")
library(gbm)          # for gradient boosting machines

library(e1071)        # for SVM and other algorithms

# Load the 'readr' library for data import and manipulation in R
library(readr)

# Set seed for reproducibility
set.seed(123)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘listenv’, ‘parallelly’, ‘future’, ‘globals’, ‘shape’, ‘future.apply’, ‘numDeriv’, ‘progressr’, ‘SQUAREM’, ‘diagram’, ‘lava’, ‘prodlim’, ‘proxy’, ‘iterators’, ‘Rcpp’, ‘clock’, ‘gower’, ‘hardhat’, ‘ipred’, ‘timeDate’, ‘e1071’, ‘foreach’, ‘ModelMetrics’, ‘plyr’, ‘pROC’, ‘recipes’, ‘reshape2’


Loading required package: lattice


Attaching package: ‘caret’


The following object is masked from ‘package:purrr’:

    lift


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

randomForest 4.7-1.1

Type rfNews() to see new features/changes/bug fixes.


Attaching package: ‘randomForest’


The following object is masked from ‘package:dplyr’:

    combine


The following object is masked from ‘package:ggplot2’:

    margin


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loaded gbm 2.1.9

This version of gbm is no longer under development. Consider transitioning to gbm3, https://github.com/gbm-developers/gbm3

In [2]:
# Loading the datasets using base R read.csv function
train_data <- read.csv("/content/drive/MyDrive/credit_risk/creditdefault_train.csv", sep = ",")
test_data  <- read.csv("/content/drive/MyDrive/credit_risk/creditdefault_train.csv", sep = ",")

# Displaying the first few rows of the Credit Default training dataset
head(train_data)

# Displaying the first few rows of the Credit Default test dataset
head(test_data)

  Y X1     X2 X3 X4 X5 X6 X7 X8 X9 ⋯ X14    X15    X16    X17    X18   X19
1 1  20000 2  2  1  24  2  2 -1 -1 ⋯    689      0      0      0     0   689
2 0  50000 2  2  1  37  0  0  0  0 ⋯  49291  28314  28959  29547  2000  2019
3 0  50000 1  2  1  57 -1  0 -1  0 ⋯  35835  20940  19146  19131  2000 36681
4 0  50000 1  1  2  37  0  0  0  0 ⋯  57608  19394  19619  20024  2500  1815
5 0 500000 1  1  2  29  0  0  0  0 ⋯ 445007 542653 483003 473944 55000 40000
6 0 100000 2  2  2  23  0 -1 -1  0 ⋯    601    221   -159    567   380   601
  X20   X21   X22   X23
1     0     0     0     0
2  1200  1100  1069  1000
3 10000  9000   689   679
4   657  1000  1000   800
5 38000 20239 13750 13770
6     0   581  1687  1542

  Y X1     X2 X3 X4 X5 X6 X7 X8 X9 ⋯ X14    X15    X16    X17    X18   X19
1 1  20000 2  2  1  24  2  2 -1 -1 ⋯    689      0      0      0     0   689
2 0  50000 2  2  1  37  0  0  0  0 ⋯  49291  28314  28959  29547  2000  2019
3 0  50000 1  2  1  57 -1  0 -1  0 ⋯  35835  20940  19146  19131  2000 36681
4 0  50000 1  1  2  37  0  0  0  0 ⋯  57608  19394  19619  20024  2500  1815
5 0 500000 1  1  2  29  0  0  0  0 ⋯ 445007 542653 483003 473944 55000 40000
6 0 100000 2  2  2  23  0 -1 -1  0 ⋯    601    221   -159    567   380   601
  X20   X21   X22   X23
1     0     0     0     0
2  1200  1100  1069  1000
3 10000  9000   689   679
4   657  1000  1000   800
5 38000 20239 13750 13770
6     0   581  1687  1542

# Problem Formulation

This project aims to predict whether a credit card holder will default on their payment in the next month. We will use a binary classification approach with the response variable Y indicating default payment (Yes = 1, No = 0). The challenge is to build and select a predictive model that performs well on unseen data, balancing the trade-off between underfitting and overfitting.

# Data Exploratory Analysis

## Initial Exploration of the Dataset

In [3]:
# Exploratory Data Analysis
# Summary of the training data
summary(train_data)

       Y                X1               X2              X3
 Min.   :0.0000   Min.   : 10000   Min.   :1.000   Min.   :0.00
 1st Qu.:0.0000   1st Qu.: 50000   1st Qu.:1.000   1st Qu.:1.00
 Median :0.0000   Median :140000   Median :2.000   Median :2.00
 Mean   :0.2212   Mean   :167450   Mean   :1.605   Mean   :1.85
 3rd Qu.:0.0000   3rd Qu.:240000   3rd Qu.:2.000   3rd Qu.:2.00
 Max.   :1.0000   Max.   :800000   Max.   :2.000   Max.   :6.00
       X4              X5              X6                 X7
 Min.   :0.000   Min.   :21.00   Min.   :-2.00000   Min.   :-2.0000
 1st Qu.:1.000   1st Qu.:28.00   1st Qu.:-1.00000   1st Qu.:-1.0000
 Median :2.000   Median :34.00   Median : 0.00000   Median : 0.0000
 Mean   :1.556   Mean   :35.37   Mean   :-0.02047   Mean   :-0.1309
 3rd Qu.:2.000   3rd Qu.:41.00   3rd Qu.: 0.00000   3rd Qu.: 0.0000
 Max.   :3.000   Max.   :75.00   Max.   : 8.00000   Max.   : 8.0000
       X8               X9               X10               X11
 Min.   :-2.000   Min.   :-2.0000   Min.   :-2.0000   Min.   :-2.0000
 1st Qu.:-1.000   1st Qu.:-1.0000   1st Qu.:-1.0000   1st Qu.:-1.0000
 Median : 0.000   Median : 0.0000   Median : 0.0000   Median : 0.0000
 Mean   :-0.163   Mean   :-0.2145   Mean   :-0.2569   Mean   :-0.2833
 3rd Qu.: 0.000   3rd Qu.: 0.0000   3rd Qu.: 0.0000   3rd Qu.: 0.0000
 Max.   : 8.000   Max.   : 8.0000   Max.   : 7.0000   Max.   : 7.0000
      X12              X13              X14              X15
 Min.   :-10682   Min.   :-67526   Min.   :-34041   Min.   :-170000
 1st Qu.:  3672   1st Qu.:  3034   1st Qu.:  2734   1st Qu.:   2393
 Median : 23048   Median : 21520   Median : 20165   Median :  19090
 Mean   : 51640   Mean   : 49457   Mean   : 47118   Mean   :  43077
 3rd Qu.: 67938   3rd Qu.: 64322   3rd Qu.: 60263   3rd Qu.:  54600
 Max.   :746814   Max.   :671563   Max.   :855086   Max.   : 706864
      X16              X17               X18              X19
 Min.   :-46627   Min.   :-339603   Min.   :     0   Min.   :      0
 1st Qu.:  1800   1st Qu.:   1200   1st Qu.:  1000   1st Qu.:    833
 Median : 18178   Median :  17177   Median :  2113   Median :   2014
 Mean   : 40273   Mean   :  38709   Mean   :  5616   Mean   :   5822
 3rd Qu.: 50135   3rd Qu.:  49123   3rd Qu.:  5023   3rd Qu.:   5000
 Max.   :587067   Max.   : 568638   Max.   :493358   Max.   :1227082
      X20              X21              X22              X23
 Min.   :     0   Min.   :     0   Min.   :     0   Min.   :     0
 1st Qu.:   390   1st Qu.:   290   1st Qu.:   204   1st Qu.:    80
 Median :  1809   Median :  1500   Median :  1500   Median :  1500
 Mean   :  4943   Mean   :  4997   Mean   :  4798   Mean   :  5226
 3rd Qu.:  4572   3rd Qu.:  4048   3rd Qu.:  4020   3rd Qu.:  4000
 Max.   :380478   Max.   :528897   Max.   :426529   Max.   :528666

**Given the detailed information about the variables in the dataset, we can draw some conclusions and suggest potential steps for further analysis:**

- The dataset contains 24 columns and 15,000 rows, all being integer type

## Variable Types and Conversion

- X1 (Credit Amount): This should be a numeric variable as it represents amounts in dollars.

- X2 (Gender): Since it is coded as 1 (male) and 2 (female), it is a categorical variable. Consider converting it to a factor with two levels.

- X3 (Education), X4 (Marital Status): These are categorical variables and should be converted to factors with their respective levels.

- X5 (Age): This is a numeric variable.

- X6-X11 (Repayment Status): These are ordinal categorical variables. They have an inherent order (-1, 1, 2, ..., 9) and should be treated as factors with ordered levels.

- X12-X17 (Bill Statement Amount), X18-X23 (Previous Payment Amount): These should be numeric variables representing monetary values.

## Data Integrity and Cleaning

- We need to ensure that the data types in the dataset match these specifications. They must be converted to the appropriate types if they are all currently 'character' types.

- Check for missing or unusual values. For example, ensure that only the specified categories are present in categorical variables.

### Check for Missing Values

In [4]:
# Check for missing values in the training dataset
sum(is.na(train_data))

[1] 0

The output is zero, meaning there are no missing values (NA) in the train_data dataset. Every element in the dataset has a defined, non-missing value. This is generally a good sign for data quality, as missing data can complicate analysis and require additional steps for handling.

## Data Type Conversion

Convert the variables to their appropriate data types based on the descriptions provided.

In [7]:
# Ensure dplyr is installed and loaded
if (!require(dplyr)) install.packages("dplyr")
library(dplyr)

# Check if 'X2' column exists in train_data
if("X2" %in% colnames(train_data)) {
  # Directly convert columns using dplyr's mutate and mutate_at functions
  train_data <- train_data %>%
    mutate(
      X2 = factor(X2, levels = c(1, 2), labels = c("Male", "Female")),
      X3 = factor(X3, levels = c(1, 2, 3, 4), labels = c("Graduate School", "University", "High School", "Others")),
      X4 = factor(X4, levels = c(1, 2, 3), labels = c("Married", "Single", "Others"))
    ) %>%
    mutate_at(vars(X6:X11), funs(factor(., ordered = TRUE)))
} else {
  print("Column 'X2' not found in train_data")
}

Warning message:
“`funs()` was deprecated in dplyr 0.8.0.
ℹ Please use a list of either functions or lambdas:

# Simple named list: list(mean = mean, median = median)

# Auto named with `tibble::lst()`: tibble::lst(mean, median)

# Using lambdas list(~ mean(., trim = .2), ~ median(., na.rm = TRUE))”